<div class="blog-header">
    <h1 class="blog-title">{{car.name}}</h1>
    <p class="lead blog-description">{{car.description}}</p>
</div>

<div class="row">
    <div class="col-sm-7 blog-main">
        <div class="car-images">
            <img ng-src="{{img}}" class="car"
                 ng-repeat="img in car.images"
                 ng-class="{active:mainImageUrl==img}">

        </div>
    </div>

</div>
<div>
<table class="table table-striped">
    <h3>MOTOR</h3>
    <thead>
    <tr>
        <th>Tipo</th>
        <th>Rodamientos</th>
        <th>Transmisión</th>

    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{car.engine.type}}</td>
            <td>{{car.engine.gears}}</td>
            <td>{{car.engine.transmission}}</td>

        </tr>
    </tbody>
</table>
<div><br>
<table class="table table-striped">
    <h3>CONFORT</h3>
    <thead>
        <th>Spacio</th>
    </thead>
    <tbody>
        <tr>
            <td>{{car.space}}</td>
        </tr>
    </tbody>
</table>
</div>
<div><br>
<table class="table table-striped">
    <h3>FABRICANTE</h3>
      <thead>
         <th>Nombre</th>
         <th>País</th>
      </thead>
      <tbody>
          <tr>
             <td>{{car.manufacter.name}}</td>
             <td>{{car.manufacter.country}}</td>
          </tr>
      </tbody>
</table>
</div><br>
    <div><br>
        <table class="table table-striped">
            <h3>TAMAÑO</h3>
            <thead>
            <th>Dimensiones</th>
            </thead>
            <tbody>
            <tr>
                <td ng-repeat="dim in car.sizeAndWeight.dimensions">{{dim}}</td>
                <td>{{car.sizeAndWeight.weight}}</td>
            </tr>
            </tbody>
        </table>
    </div><br>
</div><br>
<div>
    <table class="table table-striped">
        <h3>PESO</h3>
        <thead>
        <th>Peso</th>
        </thead>
        <tbody>
        <tr>
            <td>{{car.sizeAndWeight.weight}}</td>
        </tr>
        </tbody>
    </table>
</div><br>
</div>
